.webform-ajax-messages{
    display: block !important;
}
.webform-ajax-messages .messages__list li:not(:last-child){
    display: none;
}
input[data-drupal-selector="edit-delete"]{
    display: none;
}
