.vertical-tabs__menu-item.has-validation-error {
  border-left: 1px solid #e62600 !important;
  border-bottom: 1px solid #e62600 !important;
}

.vertical-tabs__menu-item.has-validation-error a {
  border-top: 1px solid #e62600 !important;
  background-color: hsla(15, 75%, 97%, 1) !important;
}

.vertical-tabs__menu-item.has-validation-error.is-selected a {
  background-color: hsla(15, 75%, 99%, 1) !important;
}

.vertical-tabs__menu-item.has-validation-error > a > .vertical-tabs__menu-item-title {
  color: #a51b00 !important;
}

.validation-overlay {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.validation-overlay .ajax-progress {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.validation-overlay .ajax-progress-fullscreen {
  background-image: none;
}
