.vertical-tabs__menu-item.has-validation-error {
  border-left: 1px solid #e62600 !important;
  border-bottom: 1px solid #e62600 !important;
}

.vertical-tabs__menu-item.has-validation-error a {
  border-top: 1px solid #e62600 !important;
  background-color: hsla(15, 75%, 97%, 1) !important;
}

.vertical-tabs__menu-item.has-validation-error > a > .vertical-tabs__menu-item-title {
  color: #a51b00 !important;
}
