/**
 * @file
 * Float clearing.
 *
 * Based on the micro clearfix hack by Nicolas Gallagher, with the :before
 * pseudo selector removed to allow normal top margin collapse.
 *
 * @see http://nicolasgallagher.com/micro-clearfix-hack
 */

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

form[class^="node-annual-foia-report-data"] .clearfix:after {
  clear: right;
}

#edit-field-agency-components input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.component-placeholder-button {
  margin-top: 20px;
}