<?xml version="1.0" encoding="UTF-8"?>
<pdx:document xmlns:pdx="http://www.phpdocx.com/main" >
    <pdx:settings>
        <pdx:createCharacterStyle pdx:name="myStyle" >
            <pdx:characterStyle>
                <pdx:bold pdx:value="true" />
                <pdx:color pdx:value="ff0000" />
                <pdx:font pdx:value="Arial" />
                <pdx:fontSize pdx:value="18" />
                <pdx:italic pdx:value="true" />
                <pdx:position pdx:value="6" />
                <pdx:underline pdx:value="single" />
            </pdx:characterStyle>
        </pdx:createCharacterStyle>
    </pdx:settings>
</pdx:document>