<?xml version="1.0" encoding="UTF-8"?>
<pdx:document xmlns:pdx="http://www.phpdocx.com/main" >
    <pdx:settings>
        <pdx:createParagraphStyle pdx:name="pgStyle" >
            <pdx:paragraphStyle>
                <pdx:bold pdx:value="true" />
                <pdx:color pdx:value="B70000" />
                <pdx:sz pdx:value="30" />
            </pdx:paragraphStyle>
        </pdx:createParagraphStyle>
    </pdx:settings>
</pdx:document>